<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Vintage Car Marketplace</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <h1>Error</h1>
        <p><%= errorMessage %></p>
        <a href="/">Return to Home</a>
    </main>

    <%- include('partials/footer') %>
</body>
</html>

