<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dheeraj Vundela">
    <title>Home - Vintage Car Marketplace </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
   


    <main class="content">
        <section class="hero">
            <h2>Welcome to Vintage Car Marketplace</h2>
            <p>Your one-stop shop for high-quality cars!</p>
            <a href="/items" class="shop-now-button">Shop Now</a>
        </section>

        

        
    </main>
    

    
    

    <%- include('partials/footer') %>
</body>
</html>
