<footer>
    <div class="social-media-icons">
        <a href="#">
            <img src="/images/Instagram-logo.png" alt="Instagram">
        </a>
        <a href="#">
            <img src="/images/Linkedin.png" alt="Linkedin">
        </a>
        <a href="#">
            <img src="/images/Discord.png" alt="Discord">
        </a>
    </div>
    <p><small>&copy; 2024 Vintage Car Marketplace. All rights reserved.</small></p>
</footer>
